body {
	margin: 0;
	background-color: #000;
	font-family: 'Myriad Pro Light', 'Oswald', sans-serif;
	//background-image: url("images/textura2.png");
	padding-top: 50px;
	font-size: 14px;
	text-align: left;
	color: #fff;
}
button{
	text-decoration: none;
	padding: 5px;
	font-weight: 16px;
	font-size: 16px;
	color: #000;
	background-color: #D1D2D3;
	border-radius: 6px;
	border: 2px solid #8D8788;
}
button:hover{
	color: #000;
	background-color: #8D8788;
}
.btnrojo{
	background-color: #A81127;
	border: 2px solid #A81127;
	color: #fff;
}
.btnrojo:hover{
	color: #fff;
	background-color: #691943;
	border: 2px solid #691943;
}
.navbar {
	//background-color: rgba(141,135,136,0.0);
	background-color: #000;
}
.navbar .navbar-brand {
	color: #a81127;
}

.nav-link{
	display:block;
	padding:.5rem 1rem;
	color:#fff;
	font-family: 'Oswald', 'Roboto', sans-serif;
	
}
.nav-link.active {
	//color: #fff !important;
	//background-color: #A81127 !important;
	background-color: rgba(141,135,136,0.0) !important;
	color: #A81127 !important;
}
.nav-link:focus
{
	color:#6c757d
}
.nav-link:hover{
	text-decoration:none;
	color:#A81127
}
.nav-link.disabled{
	color:#6c757d
}
.contentone {
	color:#fff;
	margin: 50pt 50pt;
	//text-align: justify;
	min-height: 300px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.contenttwo {
	padding-top: 50px;
	color:#fff;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	text-align: left;
}

.divrojo {
	background-color: #da0000;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
.divnegro {
	background-color: #000;
	text-align: left;
}
.divnegro2 {
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.footer {
	color:#fff;
	text-align: left;
	//padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-family: 'Oswald', 'Roboto', sans-serif;
	margin-bottom: 30px;
}

.repsoc {
	text-align: left;
	font-size: 16px;
}

h1 {
	font-family: 'Oswald', 'Roboto', sans-serif;
	text-align: left;
	font-size: 24px;
	color: #fff;
}

h2 {
	font-family: 'Oswald', 'Roboto', sans-serif;
	text-align: left;
	font-size: 40px;
}

h3 {
	font-family: 'Oswald', 'Roboto', sans-serif;
	text-align: left;
	font-size: 50px;
	color: #A81127
}

h4 {
	font-family: 'Oswald', 'Roboto', sans-serif;
	text-align: left;
	font-size: 24px;
	color: #ff0000;
}

.oswald{
	font-family: Oswald Light;
}

.bouncy{
	animation:bouncy 10s infinite linear;
	position:relative;
}
@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
} 
.nav-link{
	text-align: center;
	font-size: 14px;
}

 .black-background {background-color: Transparent;}
 .white {color:#ffffff;}
 

.modal-body{
	  overflow-y: auto;
}
 
@media only screen and ( max-width: 1100px ) {
  .navbar{
	//display: none;
  }

}
@media only screen and ( max-width: 1100px ) {
  .nav-link{
	//display: none;
	font-size: 12px;
  }

}
@media only screen and ( max-width: 900px ) {
  .nav-link{
	//display: none;
	font-size: 7px;
  }

}

@media only screen and ( max-width: 900px ) {
  .navbar-brand{
	//display: none;
	max-width: 30px;
  }

}
@media only screen and ( max-width: 800px ) {
  body{
	font-size: 14px;
  }

}
@media only screen and ( max-width: 600px ) {
  body{
	font-size: 10px;
  }

}

@media only screen and ( max-width: 1100px ) {
  .parallaxer {
		height:   200px;
		width:    100%;
	}

}
